@model IEnumerable<ThAmCo.Events.Data.GuestBooking>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attended)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Email)
            </td>
            <td>
                <a asp-area="" asp-route-id="@item.EventId" asp-controller="Events" asp-action="Details">@Html.DisplayFor(modelItem => item.Event.Title)</a>
            </td>
            @*<td>
            @{                                                          staff.Staff.FirstAider returns that the 'Staff' part is null
                bool firstAiders = false;
                foreach (var staff in item.StaffBookings)
                {
                    if (staff.Staff.FirstAider == true)
                    {
                        firstAiders = true;
                    }
                }
                if (!firstAiders)
                {
                    <span style="color: red"><i class="material-icons">warning</i>There are no first aiders assigned to this event!</span>
                }
            }
        </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="new = item.EventId, CustomerId = item.CustomerId">Edit</a> |
                <a asp-action="Details" asp-route-id="new = item.EventId, CustomerId = item.CustomerId">Details</a> |
                <a asp-action="Delete" asp-route-id="new = item.EventId, CustomerId = item.CustomerId">Delete</a>
                <a asp-action="Events" asp-route-id="new = item.EventId, CustomerId = item.CustomerId">Events</a>
            </td>
        </tr>
}
    </tbody>
</table>
